.signup-main-container{
    background-color: rgba(231, 231, 231, 0.681);
    height: 100vh;
    /* z-index: 100000000; */
    /* position: relative; */
}

.signup-sub-main-container{
    position: absolute;
    top: 2%;
    left: 50%;
    width: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding: 25px;
}
.signup{font-size: 35px; text-transform: capitalize; font-weight: 600;}
.email-password-input{
    height: 50px;
    padding: 5px;
    outline: none;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    color: black;
}.email-password-input_active{
    height: 50px;
    padding: 5px;
    outline: none;
    border: none;
    margin-top: 20px;
    border-radius: 3px;
    color: black;
    background-color: green;
}
.signup-sub-main-container button{
    background-color: rgb(207, 32, 32);
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    margin-top: 45px;
    border-radius: 3px;
}
.signup-sub-main-container button:hover{
    background-color: rgb(255, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    margin-top: 45px;
    border-radius: 3px;
}
.remember-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: grey;
}
.remember-me-1{
    display: flex;
    align-items: center;
    gap: 3px;
}
p{
    margin-top: 10px;
}

@media screen and (max-width:650px) { 
    .signup-sub-main-container{
        position: absolute;
        top: 2%;
        left: 50%;
        width: 100%;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        padding: 25px;
    }
}